#chart {
  overflow-y: scroll;
  max-height: 544px;
  scrollbar-width: none;
}
#chart::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE and Edge */
#chart {
  -ms-overflow-style: none;
}
