.card-panel {
  width: 100%;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

span {
  color: white;
  font-size: medium;
}
#sidenav-background {
  background-color: rgba(139, 143, 163, 0.3);
}
