name: Continuous Integration

on:
  pull_request:
    branches: 
      - master
      - develop

  push:
    branches:
      - feat/lintersAndcov
jobs:
  integrate:
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@master
        with:
          node-version: 12
      - name: Install Node.js dependencies
        run: npm install
      - run: CI=false npm run build

      - name: Run tests
        run: npm -s test

      - name: Run linters
        uses: samuelmeuli/lint-action@v1
        with:
          github_token: ${{ secrets.github_token }}
          # Enable linters
          stylelint: true
          eslint: true
          # eslint_dir: src/ __tests__/ __mocks__/
          
