name: Continuous Integration

on:
  pull_request:
    branches: 
      - master
      - develop
      - staging

  push:
    branches: 
      - test/pipeline

jobs:
  Unit-Test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@master
        with:
          node-version: 12
      - name: Install Node.js dependencies
        run: npm install

      - name: Run unit-test
        run: npm test __tests__

  End-to-End-Test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@master
        with:
          node-version: 12
      - name: Install Node.js dependencies
        run: npm install

      - name: Run unit-test
        run: npm test __end2endTest__
    

  Stylelint-Eslint-Prettier:
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@master
        with:
          node-version: 12
      - name: Install Node.js dependencies
        run: npm install

      - name: Run linters
        uses: samuelmeuli/lint-action@v1
        with:
          github_token: ${{ secrets.github_token }}
          stylelint: true
          eslint: true
          prettier: true

  Code-Coverage:
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@master
        with:
          node-version: 12
      - name: Install Node.js dependencies
        run: npm install
    
      - name: Running jest coverage
        run: npm run test:coverage

  Code-Quality:
    runs-on: ubuntu-latest
    steps:
    - name: Check code meets quality standards
      id: code-inspector
      uses: codeinspectorio/github-action@master
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        code_inspector_access_key: ${{ secrets.CODE_INSPECTOR_ACCESS_KEY }}
        code_inspector_secret_key: ${{ secrets.CODE_INSPECTOR_SECRET_KEY }}
        min_quality_grade: 'WARNING'
        min_quality_score: '50'
        max_defects_rate: '0.30'
        max_complex_functions_rate: '0.30'
        max_long_functions_rate: '0.30'
        project_name: ''
        max_timeout_sec: '600'
