name: Continuous Integration

on:
  pull_request:
    branches: 
        - master
  push:
    branches:
        - Develop

jobs:
  integrate:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@master
      with:
        node-version: 12
    - run: npm install
    - run: CI=false npm run build 
    - run: npm -s test
